/* @media(max-width: px){} */
@media(max-width: 1200px){
    .catbar{
        padding: 24px 50px;
        width: 350px;  
    }
    .service-row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .great-deal{
        padding: 60px 0;
    }
    .great-deal-content{ 
        width: 450px;
        padding: 25px 18px;
    }
    .gd-info p{
        width: 400px; 
        margin-bottom: 10px;
    }
    
}
@media(max-width: 1150px){
    .hero-info p{
        width: 450px;
    }
}

@media(max-width:1050px){ 
    input {
        padding: 15px 150px 15px 15px;
    }
    .hero-row{
        flex-wrap: wrap;
    }
    .hero-right{
        margin-top: 50px;
    }
    .category-info p{
        width: 650px;
    }
    .category-bottom{
        flex-wrap: wrap;
    }
    .catbar{
        width:610px;
    }
    .single-product-row{
        flex-wrap: wrap;
        margin: 0;
        padding-top: 30px;
    } 
    .product-row{
        gap: 0;
        flex-wrap: wrap;
        padding: 0 15px;
        justify-content: center;
    } 
    .great-deal{
        padding: 80px 0;
    }
    .testimonial-row{
        flex-wrap: wrap;
        row-gap: 100px;
    }
    .nb-row{ 
    flex-wrap: wrap;
    }
    .nb-blck1{
        margin-top: 40px;
    }
}


@media(max-width: 950px){
    .footer-row{
        flex-wrap: wrap;
    }
    .mt{
        margin-top: 30px;
    }
}

@media(max-width: 800px){
    .menus{
        display: none;
    }
    .category-images{
        flex-direction: column;
    }
    .catbar{
        width: 450px;
    }
    .great-deal{
        background-position: center; 
        padding: 80px 20px;
    }
}


@media(max-width:730px){
    .input{
        display: none;
    }
    .category-info p{
        width: 550px;
    }
}


@media(max-width: 550px){
    .hero-right img{
        width: 100%;  
    }
    .hero-info p{
        width: 100%;
    }
    .category-info p{
        width: 100%;
    }
    .category-images img{
        width: 100%;
    }
    .great-deal{
        background-position: center; 
        padding: 60px 20px;
    }
}

@media(max-width:475px){ 
    .header-top-row{
        justify-content: space-between;
        padding: 0 20px;
    }
    .catbar{
        width: 300px;
    }
    .service-block{
        padding: 20px 15px;
        width: 280px;
    }
    .great-deal-content {
        width: 350px;
        padding: 15px 15px;
    }
    .gd-info p {
        width: 320px;
        margin-bottom: 10px;
        text-align: justify;
    }
    .gd-title h2{
        font-size: 25px;
    }
    .schedule1 .days h2{
        font-size: 20px;
    }
    .great-deal{
        padding: 50px 0;
    }
    .test-bg {
        width: 350px;
        padding: 90px 20px 35px 20px;
    }
    .test-img img {
        position: absolute;
        top: -65px;
        left: 120px;
    }
    .testi-info p{
        width: 100%;
        text-align: justify;
    }
    .nb-blck1{
        width: 400px;
    }
    .nb-img img{
        width: 100%;
    }
    .nb-upbanner {
        top: 375px;
        right: 25px;
    }
}
@media(max-width:375px){
    .great-deal{
        padding: 18px 10px;
    }
    .great-deal-content{
        padding: 8px;
        width: 320px;
    }
    .gd-info p{
        width: 250px;
    }
    .nb-upbanner {
        top: 340px;
        right: 20px;
    }
}